<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1096590455640-em6e4o0r9h5e03mbr2bf0briiqp6cdhv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1096590455640-em6e4o0r9h5e03mbr2bf0briiqp6cdhv</string>
	<key>API_KEY</key>
	<string>AIzaSyB2vi1QOTBEdfyGtgmIS3TRxPhrq9s_R9E</string>
	<key>GCM_SENDER_ID</key>
	<string>1096590455640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodDeliveryApp</string>
	<key>PROJECT_ID</key>
	<string>job-portal-app-fc91a</string>
	<key>STORAGE_BUCKET</key>
	<string>job-portal-app-fc91a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096590455640:ios:c8121b589261ad79e3eb2d</string>
</dict>
</plist>