<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB_i9tIPl5td5DxkWf86YGavWa98bwKYpw</string>
	<key>GCM_SENDER_ID</key>
	<string>862439083777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodDeliveryApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>jab-1-e0a02</string>
	<key>STORAGE_BUCKET</key>
	<string>jab-1-e0a02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862439083777:ios:86b6b8371767c909ea9500</string>
</dict>
</plist>